@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono&display=swap');
/* usage: */
/* font-family: 'IBM Plex Sans', sans-serif; */
/* font-family: 'IBM Plex Sans Condensed', sans-serif; */

:root {
	--ground: #191919;
  --pink: #ff0266;
  --grey: #eeeeee;
  --grey1: #232329;
  --grey2: #505050;
  --grey3: #999999;
  --grey4: #dcdcdc;
  --grey5: #f2f2f2; 
  --red: #ff3345;
	--orange: #ffcd96;
  --blue: #72b1ae;
  --black: #000000;
  --mint: #03dac6;
  --white-orange: #faebd7;

  --main-bg-color: var(--ground);
  --bold-color: var(--grey3);
  /* --bold-color: var(--mint); */
  /* --main-text-color: var(--white-orange); */
  --main-text-color: var(--grey5);
  /* --highlight-color: var(--pink); */
  --highlight-color: var(--pink);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: var(--main-bg-color);
	overflow-x: hidden; /* Prevent horizontal scrolling */
}

a {
	text-decoration: none;
	 color: var(--bold-color);
}

.p-link:hover {
	color: var(--highlight-color);
	cursor: pointer;
}

.nav,
.slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	background-color: var(--main-bg-color);
	text-align: center;
	padding: 0 2em;
}

.slider.no-height {
  height: auto;
}


.nav h1,
.slider h1 {
	font-family: 'IBM Plex Sans', sans-serif;
	/* font-size: 5vw; */
  font-size: calc(2vw + 1em); /* This will scale with viewport width */
  font-size: min(max(2vw, 20px), 40px); /* But it will not go below 20px and not exceed 40px */
	margin: 0;
	padding-bottom: 0.5rem;
	color: var(--bold-color);
	transition: all 0.9s ease;
	z-index: 3;
}

.nav h2,
.slider h1 {
	font-family: 'IBM Plex Sans', sans-serif;
	/* font-size: 5vw; */
  font-size: calc(2vw + 1em); /* This will scale with viewport width */
  font-size: min(max(2vw, 20px), 40px); /* But it will not go below 20px and not exceed 40px */
	margin: 0;
	padding-bottom: 0.5rem;
	color: var(--bold-color);
	transition: all 0.9s ease;
	z-index: 3;
}

.slider h2 {
	/* font-size: 2vw; */
  font-size: calc(2vw + 1em); /* This will scale with viewport width */
  font-size: min(max(2vw, 20px), 40px); /* But it will not go below 20px and not exceed 40px */
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	color: var(--main-text-color);
	z-index: 4;
}

.slider p {
	font-size: clamp(1rem, 2vw, 1.5rem);
	max-width: 40em;
	color: var(--main-text-color);
	/* align-items: left; */
	text-align: left !important;
	margin-top: 1em;
	margin-bottom: 1em;
} 

.nav-container {
	display: flex;
	flex-direction: row;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 95px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	background: var(--main-bg-color);
	z-index: 10;
}

.nav-container--top-first {
	position: fixed;
	top: 75px;
	transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
	position: fixed;
	top: 0;
}
.nav-tab {
	display: flex;
	flex-direction: column; /* arrange children vertically */
	justify-content: center;
	align-items: center;
	flex: 1;
	color: var(--bold-color);
	transition: all 0.5s ease;
	/* font-size: 2vw; */
  font-size: calc(2vw + 1em); /* This will scale with viewport width */
  font-size: min(max(2vw, 20px), 40px); /* But it will not go below 20px and not exceed 40px */
	gap: 0.5em; /* put a bit of space between icon and text */
}

.nav-tab:hover {
	color: var(--main-bg-color);
	background: var(--bold-color);
	transition: all 0.5s ease;
}

.nav-tab-slider {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 4px;
	background: var(--bold-color);
	transition: left 0.3s ease;
}

.slider#tab-more {
  position: relative;
}

.sub-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
	position: absolute;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.doc-link {
	display: inline-block;
	/* font-size: 2vw; */
  font-size: calc(2vw + 1em); /* This will scale with viewport width */
  font-size: min(max(2vw, 20px), 40px); /* But it will not go below 20px and not exceed 40px */
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	color: var(--main-text-color);
	text-decoration: none;
	transition: color 0.3s ease;
}

.doc-link:hover {
	color: var(--highlight-color);
	cursor: pointer;
}

.material-symbols-outlined {
	font-size: 1em;
	font-variation-settings:
	'FILL' 0,
	'wght' 700,
	'GRAD' 0,
	'opsz' 48
	}

/* screen size adjusts */
.nav h1,
.slider h1 {
	font-size: calc(16px + 2vw);
	}

	.slider h2 {
	font-size: calc(12px + 1.5vw);
}

	.nav-tab {
	font-size: calc(8px + 1vw);
}

.doc-link {
	font-size: calc(12px + 1vw);
	}

.logo {
	width: min(20vw, 200px); /* typical size, max size */
	z-index: 4;
}

.logo_banner {
	width: min(100vw, 1200px); /* typical size, max size */
	filter: drop-shadow(0 0 3px var(--bold-color)); 
	z-index: 4;
}
.map {
	max-height: 90vh;
	width: auto;
	max-width: 90vw;
}

.glow {
	font-size: calc(.8em + 1.2vw);
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	color: var(--main-text-color);
	z-index: 4;
	/* text-shadow: 0px 0px 20px var(--highlight-color); */
	text-shadow: 0px 0px 20px var(--main-text-color);
}

 
.mono-font {
	font-family: 'IBM Plex Mono', monospace;
	}


.icon {
	color: var(--main-bg-color);
}

@media (min-width: 800px) {
	.nav h1,
	.slider h1 {
	/* font-size: 5vw; */
	font-size: min(max(5vw, 20px), 40px);
	}

	.nav h2,
	.slider h2 {
	/* font-size: 3vw; */
	font-size: min(max(3vw, 20px), 40px);
	}

}

@media screen only (min-width: 360px) {
	.nav h1,
	.slider h1 {
	/* font-size: 8vw; */
	font-size: min(max(8vw, 20px), 40px);
	}

	.nav h2,
	.slider h2 {
	font-size: 2vw;
	font-size: min(max(2vw, 20px), 40px);
	}

}



