@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif; */
/* font-family: 'IBM Plex Sans Condensed', sans-serif; */

:root {
	--main-bg-color: #191919; /* black/grey */
	--bold-color: #ff0266; /* mint */
	--main-text-color: #faebd7; /* white/orange */
	--highlight-color: #ff0266; /* hot pink */
}

/* --main-bg-color: #191919; /1* black/grey *1/ */
/* --bold-color: #03dac6; /1* mint *1/ */
/* --main-text-color: #faebd7; /1* white/orange *1/ */
/* --highlight-color: #ff0266; /1* hot pink *1/ */
/* var(--main-bg-color) */
/* var(--bold-color) */
/* var(--main-text-color) */
/* var(--highlight-color) */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: var(--main-bg-color);
}

.mono-font {
	font-family: 'IBM Plex Mono', monospace;
	}

.nav,
.slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	background-color: var(--main-bg-color);
	text-align: center;
	padding: 0 2em;
}

.nav h1,
.slider h1 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 5vw;
	margin: 0;
	padding-bottom: 0.5rem;
	color: var(--bold-color);
	transition: all 0.9s ease;
	z-index: 3;
}

.slider h2 {
	font-size: 2vw;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	color: var(--main-text-color);
	z-index: 4;
}

a {
	text-decoration: none;
}

.nav-container {
	/* position: fixed; */
	/* top: calc(100vh - 70px);	/1* To keep the nav bar at the bottom initially *1/ */
	/* transition: top 0.3s ease-in-out;	/1* To animate the top property *1/ */
	display: flex;
	flex-direction: row;
	/* position: absolute; */
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 95px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	background: var(--main-bg-color);
	z-index: 10;
}

.nav-container--top-first {
	position: fixed;
	top: 75px;
	transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
	position: fixed;
	top: 0;
}
.nav-tab {
	display: flex;
	flex-direction: column; /* arrange children vertically */
	justify-content: center;
	align-items: center;
	flex: 1;
	color: var(--bold-color);
	/* letter-spacing: 0.1rem; */
	transition: all 0.5s ease;
	font-size: 2vw;
	gap: 0.5em; /* put a bit of space between icon and text */
}

.nav-tab:hover {
	/* color: #1e1f26; */
	color: var(--main-bg-color);
	background: var(--bold-color);
	transition: all 0.5s ease;
}

.nav-tab-slider {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 2px;
	/* background: var(--bold-color); */
	transition: left 0.3s ease;
}

.background {
	position: absolute;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.doc-link {
	display: inline-block;
	font-size: 2vw;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	color: var(--main-text-color);
	text-decoration: none;
	transition: color 0.3s ease;
}

.doc-link:hover {
	color: var(--highlight-color);
	cursor: pointer;
}

.material-symbols-outlined {
	font-size: 1em;
	font-variation-settings:
	'FILL' 0,
	'wght' 700,
	'GRAD' 0,
	'opsz' 48
	}

/* screen size adjusts */
.nav h1,
.slider h1 {
	font-size: calc(16px + 2vw);
	}

	.slider h2 {
	font-size: calc(12px + 1.5vw);
}

	.nav-tab {
	font-size: calc(8px + 1vw);
}

.doc-link {
	font-size: calc(12px + 1vw);
	}

.logo {
	width: 10vw; /* Adjust this to set the size of the image. */
	z-index: 4;
}

.logo_banner {
	width: 110%; /* Adjust this to set the size of the image. */
	filter: drop-shadow(0 0 5px var(--highlight-color)); 
	z-index: 4;
}
.map {
	height: 60vh;
}

.glow {
	font-size: calc(.8em + 1.2vw);
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	color: var(--main-text-color);
	z-index: 4;
	text-shadow: 0px 0px 20px var(--highlight-color);
}

.slider p {
	font-family: 'IBM Plex Sans', sans-serif;
	max-width: 40em;
	display: flex;
	flex-direction: left;
	height: auto;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	text-align: left;
	margin-bottom: 1em;
}

.icon {
	color: var(--main-bg-color);
}

@media (min-width: 800px) {
	.nav h1,
	.slider h1 {
	font-size: 5vw;
	}

	.nav h2,
	.slider h2 {
	font-size: 3vw;
	}

}

@media screen only (min-width: 360px) {
	.nav h1,
	.slider h1 {
	font-size: 8vw;
	}

	.nav h2,
	.slider h2 {
	font-size: 2vw;
	}

}

